/* body style */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
    margin: 0%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

}



/*-------------------- 
top-header-section
--------------------- */



.container {
    border-radius: 25px;
    width: 70%;
    height: 466px;
    background-color: #161616;
    margin-bottom: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 70px;
}

.top-header-section {
    justify-content: center;
    align-items: center;
}

.header-all-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 50px;
    justify-content: center;
}

.header-all-info img {
    width: 450px;
}

.header-info p {
    color: white;
}

.header-title h1 {
    color: white;
    font-size: 2.5em;
}



.watch-live-button {
    width: 187px;
    height: 56px;
    background-color: #DD0000;
    border-radius: 5px;
    font-size: 24px;
    color: white;
}



/* -----------match-full-blogs----------- */
.match-full-blogs {
    display: flex;
}

/*------------------------------- match blogs------------------ */

.blog-button-backround {

    width: 312px;
    height: 312px;
    background-color: #161616;
}

.blog-button-backround {
    display: grid;
    grid-template-columns: repeat(1 1fr);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 0 20px 0 0;
}

.blogs-button,
.blog-button {
    font-size: 20px;
    width: 250px;
    height: 64px;
    border-radius: 10px;
}

.blog-button {
    background-color: #DD0000;
    color: white;
}



/* <!-- blog news  --> */

.news-boxs-backround {
    border: 1px solid rgb(213, 213, 213);
    border-radius: 10px;
    width: 312px;
    height: 362px;

}

.all-news-containet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.news-box-details {
    margin: 20px;
}

.news-box-details h4 {
    border: 1px solid gray;
    width: 100px;
    height: 32;
    text-align: center;
    border-radius: 5px;
}

.icon {
    color: #777777;
}

.tab-view {
    display: none;
}

/**---- -------------
footer style 
-------------------- */

.full-footer {
    width: 100%vh;
    display: flex;
    background-color: #161616;
    justify-content: center;
    align-items: center;
    height: 444px;
    margin-top: 100px;

}

.foter-title {
    color: white;
    text-align: center;
    font-size: 3em;
}



.footer-nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    justify-content: center;
    color: white;
    grid-gap: 20px;
    text-align: center;
}


.social-media-icon {
    text-align: center;
    color: aliceblue;



}

.fa-brands {
    text-align: center;
    margin-left: 10PX;
    margin-right: 10PX;
    font-size: 20PX;
}

hr {
    border: 1px solid #ffffff1a;
}


/*----------------------------- media query -----------------------
------------------------------------------------------------------- */
/* -----------------------------mobile device---------------------
------------------------------------------------------------------- */

@media only screen and (max-width:688px) {
    .all-news-containet {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .blog-button-backround {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        justify-items: center;
        background-color: white;

    }

    .match-full-blogs,
    .footer-nav,
    .social-media-icon {
        display: flex;
        display: block;
    }

    .footer {
        width: 100%;
    }

    /* -------------------------.header-all-info ------------ */

    .header-all-info {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }

    .container {
        border-radius: 25px;
        height: 472px;
        background-color: #161616;
        margin-bottom: 30px;
        display: flex;
        padding-top: 40px;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 17px;

        margin-top: 50px;
    }

    .header-all-info img {
        width: 233px;
        height: 245px;
    }

    .header-title h1 {
        color: white;
        font-size: 1.5em;
    }

    .top-header-section {
        text-align: center;
    }

    .tab-view {
        display: none;
    }
}






/* -----------------------------Tablet device---------------------
------------------------------------------------------------------- */



@media only screen and (min-width:688px) and (max-width:992px) {
    .all-news-containet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .blog-button-backround {

        width: 100%;
        height: 150px;
        background-color: #ffffff;
    }

    .blog-button-backround {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    /* hedwe tab  */
    .container {
        border-radius: 25px;
        height: 205px;
        background-color: #161616;
        margin-bottom: 30px;
        display: flex;
        padding-top: 40px;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 17px;
        margin-top: 50px;
    }

    .header-all-info img {
        width: 233px;
        height: 245px;
    }

    .header-title h1 {
        color: white;
        font-size: 1.3em;
    }



    .match-full-blogs,
    .footer-nav {
        display: grid;
        grid-template: repeat(3, 1fr);
        justify-content: center;
    }

    .footer {
        width: 100%;
    }

    .tab-disply-non {
        display: none;
    }


}



/* -------------------------.header-all-info ------------ */